In [3]:
import pandas as pd

# Load the pickle
df1 = pd.read_pickle(
    r"F:\PyTorch_GPU\maritime_monitoring_preprocessing\processed_data\AIS_2020_01_03.pkl"
)

# Keep only rows where VesselName is not null
df_clean = df1[df1["VesselName"].notna()]

# Keep only the required columns
columns_to_keep = [
    "MMSI",
    "BaseDateTime",
    "LAT",
    "LON",
    "SOG",
    "COG",
    "Heading",
    "VesselName",
    "CallSign",
    "VesselType",
]
df_clean = df_clean[columns_to_keep]

# Sort sequentially by MMSI and BaseDateTime
df_clean = df_clean.sort_values(by=["MMSI", "BaseDateTime"]).reset_index(drop=True)

print(df_clean.head())
print(f"âœ… Total rows after cleaning: {len(df_clean)}")
df_clean

KeyboardInterrupt:

In [ ]:
df_clean

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,CallSign,VesselType
0,507027,2020-01-03 00:00:07,37.00648,-76.24921,0.0,277.8,511.0,WEEKS 551,WBX3592,30.0
1,507027,2020-01-03 00:01:17,37.00645,-76.24919,0.0,286.3,511.0,WEEKS 551,WBX3592,30.0
2,507027,2020-01-03 00:02:37,37.00646,-76.24917,0.0,276.2,511.0,WEEKS 551,WBX3592,30.0
3,507027,2020-01-03 00:03:47,37.00648,-76.24914,0.0,264.4,511.0,WEEKS 551,WBX3592,30.0
4,507027,2020-01-03 00:04:56,37.00645,-76.24913,0.3,209.7,511.0,WEEKS 551,WBX3592,30.0
...,...,...,...,...,...,...,...,...,...,...
6470030,1073709206,2020-01-03 20:52:53,29.94075,-91.84231,0.0,318.7,511.0,RAM 14,WDA6950,90.0
6470031,1073709206,2020-01-03 20:54:04,29.94077,-91.84235,0.1,299.3,511.0,RAM 14,WDA6950,90.0
6470032,1073709206,2020-01-03 20:55:23,29.94074,-91.84230,0.1,289.5,511.0,RAM 14,WDA6950,90.0
6470033,1073709206,2020-01-03 20:56:24,29.94077,-91.84235,0.0,290.1,511.0,RAM 14,WDA6950,90.0
6470034,1073709206,2020-01-03 20:57:26,29.94079,-91.84237,0.1,287.6,511.0,RAM 14,WDA6950,90.0

In [ ]:
df_clean["VesselName"]

0          WEEKS 551
1          WEEKS 551
2          WEEKS 551
3          WEEKS 551
4          WEEKS 551
             ...
6470030       RAM 14
6470031       RAM 14
6470032       RAM 14
6470033       RAM 14
6470034       RAM 14
Name: VesselName, Length: 6470035, dtype: object

In [ ]:
print(
    f"Total Unique Vessel names present in the dataframe AIS_2020_01_03 , {len(df_clean['VesselName'])}"
)

Total Unique Vessel names present in the dataframe AIS_2020_01_03 , 6470035

In [ ]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6470035 entries, 0 to 6470034
Data columns (total 10 columns):
 #   Column        Dtype
---  ------        -----
 0   MMSI          int64
 1   BaseDateTime  datetime64[ns]
 2   LAT           float64
 3   LON           float64
 4   SOG           float64
 5   COG           float64
 6   Heading       float64
 7   VesselName    object
 8   CallSign      object
 9   VesselType    float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(2)
memory usage: 493.6+ MB

In [ ]:
df_clean.describe()

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselType
count,6.470035e+06,6470035,6.470035e+06,6.470035e+06,6.470035e+06,6.470035e+06,6.470035e+06,6.364000e+06
mean,3.658396e+08,2020-01-03 12:10:42.412647936,3.527944e+01,-9.583238e+01,1.951505e+00,2.095156e+02,3.723435e+02,4.371631e+01
min,5.070270e+05,2020-01-03 00:00:00,7.086550e+00,-1.783058e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.668985e+08,2020-01-03 06:06:57,2.964350e+01,-1.172050e+02,0.000000e+00,1.219000e+02,2.230000e+02,3.100000e+01
50%,3.673537e+08,2020-01-03 12:23:20,3.271137e+01,-9.038980e+01,0.000000e+00,2.297000e+02,5.110000e+02,3.100000e+01
75%,3.676632e+08,2020-01-03 18:14:14,4.064937e+01,-8.086609e+01,3.000000e-01,3.012000e+02,5.110000e+02,6.000000e+01
max,1.073709e+09,2020-01-03 23:59:59,7.049003e+01,1.449452e+02,1.023000e+02,3.797000e+02,5.110000e+02,9.900000e+01
std,5.305722e+07,NaN,8.409173e+00,2.224431e+01,5.877512e+00,1.110121e+02,1.759397e+02,1.977664e+01

In [ ]:
import os
import sqlite3
import pandas as pd

# âœ… Path to your SQLite DB file
db_path = r"F:\Maritime_NLU\backend\src\maritime_data.db"

# âœ… Make sure folder exists
os.makedirs(os.path.dirname(db_path), exist_ok=True)

# âœ… Connect to database
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

# âœ… Drop existing table (optional reset)
cursor.execute("DROP TABLE IF EXISTS vessel_data;")
conn.commit()

# âœ… Create fresh table schema
create_table_query = """
CREATE TABLE IF NOT EXISTS vessel_data (
    MMSI INTEGER,
    BaseDateTime TEXT,
    LAT REAL,
    LON REAL,
    SOG REAL,
    COG REAL,
    Heading REAL,
    VesselName TEXT,
    CallSign TEXT,
    VesselType REAL
);
"""
cursor.execute(create_table_query)
conn.commit()
print("âœ… Created fresh table: vessel_data")

# âœ… Store DataFrame in chunks
chunksize = 100_000
for i in range(0, len(df_clean), chunksize):
    chunk = df_clean.iloc[i : i + chunksize]
    chunk.to_sql("vessel_data", conn, if_exists="append", index=False)
    print(f"Inserted rows {i:,} â€“ {min(i+chunksize, len(df_clean)):,}")

print("âœ… All data stored in SQLite database!")

# âœ… Verify row count
count_df = pd.read_sql("SELECT COUNT(*) AS total_rows FROM vessel_data;", conn)
print("\nTotal rows in table:", count_df["total_rows"].iloc[0])

# âœ… Example 1: Filter by MMSI
mmsi_number = 983192101
query_mmsi = f"""
    SELECT * FROM vessel_data 
    WHERE MMSI = {mmsi_number}
    ORDER BY BaseDateTime ASC
    LIMIT 1000;
"""
df_vessel = pd.read_sql(query_mmsi, conn)
print(f"\nFetched {len(df_vessel)} records for MMSI = {mmsi_number}")
print(df_vessel.head())

# âœ… Example 2: Filter by datetime range
start = "2020-01-03 00:00:00"
end = "2020-01-03 12:00:00"

query_time = f"""
    SELECT * FROM vessel_data
    WHERE BaseDateTime BETWEEN '{start}' AND '{end}'
    ORDER BY BaseDateTime ASC
    LIMIT 1000;
"""
df_time = pd.read_sql(query_time, conn)
print(f"\nFetched {len(df_time)} records between {start} and {end}")
print(df_time.head())

# âœ… Close connection
conn.close()
print("\nðŸ”’ Connection closed successfully.")

âœ… Created fresh table: vessel_data

NameError: name 'df_clean' is not defined

In [ ]:
df_clean["MMSI"].unique()

array([    507027,    1056261,    1193046, ...,  983192101,  983780008,
       1073709206], shape=(11594,))

In [ ]:
import sqlite3
import pandas as pd
import os

db_path = r"F:\Maritime_NLU\backend\backend\maritime_data.db"

# Check that file exists
print("Database exists:", os.path.exists(db_path))
print("Database size (MB):", os.path.getsize(db_path) / 1024 / 1024)

# Connect
conn = sqlite3.connect(db_path)

Database exists: True
Database size (MB): 535.28515625

In [ ]:
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
print("Tables in this database:")
print(tables)

Tables in this database:
          name
0  vessel_data

In [ ]:
row_count = pd.read_sql("SELECT COUNT(*) AS total_rows FROM vessel_data;", conn)
print(row_count)

   total_rows
0     6470035

In [ ]:
# Example 1: Filter by MMSI
mmsi_number = 983192101
df_vessel = pd.read_sql(
    f"""
    SELECT * FROM vessel_data 
    WHERE MMSI = {mmsi_number}
    ORDER BY BaseDateTime ASC
    LIMIT 1000;
""",
    conn,
)

# Example 2: Filter by datetime range
start = "2020-01-03 00:00:00"
end = "2020-01-03 12:00:00"

df_time = pd.read_sql(
    f"""
    SELECT * FROM vessel_data
    WHERE BaseDateTime BETWEEN '{start}' AND '{end}'
    ORDER BY BaseDateTime ASC
    LIMIT 1000;
""",
    conn,
)

In [ ]:
import os


print("Database exists:", os.path.exists(db_path))
print("Database size (MB):", os.path.getsize(db_path) / 1024 / 1024)

Database exists: True
Database size (MB): 535.28515625

In [ ]:
import os

print(os.getcwd())

f:\Maritime_NLU\backend